/* account component */
.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  font-size: 12px;
}
.account span {
  color: #de5356;
}

.account > span:last-child {
  cursor: pointer;
  color: #de5356;
}
